PortalPoverenika/src/main/resources/wsdl/Rescript.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.resenje.com"
                  xmlns:tns="http://www.resenje.com"
                  name="RescriptService">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.resenje.com" schemaLocation="../xsd/resenje.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getRescriptRequest">
        <wsdl:part name="id" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="getRescriptResponse">
        <wsdl:part name="resenje" type="tns:TResenje" />
    </wsdl:message>

    <wsdl:message name="getAllRequest"/>
    <wsdl:message name="getAllResponse">
        <wsdl:part name="response" type="tns:RescriptList" />
    </wsdl:message>

    <wsdl:portType name="RescriptServicePortType">
        <wsdl:operation name="getRescriptById">
            <wsdl:input message="tns:getRescriptRequest" />
            <wsdl:output message="tns:getRescriptResponse" />
        </wsdl:operation>

        <wsdl:operation name="getAll">
            <wsdl:input message="tns:getAllRequest" />
            <wsdl:output message="tns:getAllResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="RescriptServiceSoapBinding" type="tns:RescriptServicePortType">
        <soap:binding style="document"  transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getRescriptById">
            <soap:operation soapAction="http://www.resenje.com/ws/getRescriptById" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getAll">
            <soap:operation soapAction="http://www.resenje.com/ws/getAll" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="RescriptService">
        <wsdl:port name="RescriptServiceSoapBinding" binding="tns:RescriptServiceSoapBinding">
            <soap:address location="http://localhost:8080/RescriptPort" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>