PortalPoverenika/src/main/resources/wsdl/SilenceAppeal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.zalbacutanje.com"
                  xmlns:tns="http://www.zalbacutanje.com"
                  name="SilenceAppealService">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.zalbacutanje.com" schemaLocation="../xsd/zalbacutanje.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getSilenceAppealRequest">
        <wsdl:part name="id" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="getSilenceAppealResponse">
        <wsdl:part name="zalba_cutanje" type="tns:TZalbaCutanje" />
    </wsdl:message>

    <wsdl:message name="getAllRequest"/>
    <wsdl:message name="getAllResponse">
        <wsdl:part name="response" type="tns:SilenceAppealList" />
    </wsdl:message>

    <wsdl:portType name="SilenceAppealServicePortType">
        <wsdl:operation name="getSilenceAppealById">
            <wsdl:input message="tns:getSilenceAppealRequest" />
            <wsdl:output message="tns:getSilenceAppealResponse" />
        </wsdl:operation>

        <wsdl:operation name="getAll">
            <wsdl:input message="tns:getAllRequest" />
            <wsdl:output message="tns:getAllResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SilenceAppealServiceSoapBinding" type="tns:SilenceAppealServicePortType">
        <soap:binding style="document"  transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getSilenceAppealById">
            <soap:operation soapAction="http://www.zalbacutanje.com/ws/getSilenceAppealById" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getAll">
            <soap:operation soapAction="http://www.zalbacutanje.com/ws/getAll" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="SilenceAppealService">
        <wsdl:port name="SilenceAppealServiceSoapBinding" binding="tns:SilenceAppealServiceSoapBinding">
            <soap:address location="http://localhost:8080/SilenceAppealPort" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>