PortalVlasti/src/main/resources/wsdl/Request.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.zahtev.com"
                  xmlns:tns="http://www.zahtev.com"
                  name="RequestService">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.zahtev.com" schemaLocation="../xsd/zahtev.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getByIdRequest">
        <wsdl:part name="value" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="getByIdResponse">
        <wsdl:part name="value" type="xsd:boolean" />
    </wsdl:message>

    <wsdl:message name="getStatusByIdRequest">
        <wsdl:part name="value" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="getStatusByIdResponse">
        <wsdl:part name="value" type="xsd:string" />
    </wsdl:message>


    <wsdl:portType name="RequestServicePortType">
        <wsdl:operation name="getById">
            <wsdl:input message="tns:getByIdRequest" />
            <wsdl:output message="tns:getByIdResponse" />
        </wsdl:operation>

        <wsdl:operation name="getStatusById">
            <wsdl:input message="tns:getStatusByIdRequest" />
            <wsdl:output message="tns:getStatusByIdResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="RequestServiceSoapBinding" type="tns:RequestServicePortType">
        <soap:binding style="document"  transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getById">
            <soap:operation soapAction="http://www.zahtev.com/ws/getById" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getStatusById">
            <soap:operation soapAction="http://www.zahtev.com/ws/getStatusById" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="RequestService">
        <wsdl:port name="RequestServiceSoapBinding" binding="tns:RequestServiceSoapBinding">
            <soap:address location="http://localhost:8080/RequestPort" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>